
table {
    border-collapse: collapse;
    border: thin solid gray;
    border-width: 2px;  
    padding: 5px 5px 5px 5px;
    text-align: center;
}
th {
    border: 2px solid rgb(0, 0, 163);
    background-color: grey;
    color: white;
    border-style: dashed;
}

.azul {
    background-color: blue;
}

.destacado {
    background-color: red;
}

#dotted {
    border-style: dotted;
    border-color: red;
    border-width: 5px;
} 
#dashed {
    border-style: dashed;
    border-width: 3px;
}
#solid {
    border-style: solid;
}
#double_solid {
    border-style: double solid double solid;
}
#groove {
    border-style: groove;
}
#ridge {
    border-style: ridge;
    border-width: 8px;
}
#inset {
    border-style: inset;
    border-width: 5px;
}
#outset {
    border-style: outset;
    border-width: 5px;
}